body {
    background-color: rgb(220, 220, 220);
    margin-right: 50px;
    margin-left: 50px;
}

a:hover, a:active {
    background-color: #CAEBF2;
    text-decoration: underline;
    font-size: 120%;
}

a:visited, a:link {
    text-decoration: none;
    color: #000080;
}


#navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
}

#infoForm {
    display: flex;
    justify-content: center;
}

/*.footer {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
    /*position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;*/
}

p {
    display: flex;
    justify-content: center;
}

h3, picStuff {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content:center;
}

img {
    max-height: 350px;
    max-width: 85%;
}

#apodBtn, #savePic {
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(17, 171, 162, 0.48);
    color: white;
    height: 30px;
    width: 60px;
}

#pickDateP {
    color: rgba(17, 171, 162, 1);
    font-size: 14px;
    font-weight: bold;
}