body {
    background-color: rgb(220, 220, 220);
    margin-right: 50px;
    margin-left: 50px;
}

img:hover {
    transform: scale(1.5);
}

img {
    padding: 2px;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(17, 171, 162, 0.48);
    color: white;
    height: 30px;
    width: 60px;
}
