body {
    background-color: rgb(220, 220, 220);
    margin-right: 50px;
    margin-left: 50px;
}

img:hover {
    transform: scale(1.5);
}

img {
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}